<h1>Congratulations, you're in!</h1>
<h2>Your information is shown below:</h2>



<ul>
  <li>Name: <%= @user.name %></li>
  <li>Address: <%= @user.street%> </li>
  <li>City: <%= @user.city%> </li>
  <li>State: <%= @user.state%> </li>
  <li>Postal Code: <%= @user.postal%> </li>
  <li>Country: <%= @user.country%> </li>
  <li>Email: <%= @user.email%> </li>
  <li>Username: <%= @user.username%> </li>
</ul>
